// SOME CLASSNAME HELPERS

.small-title {
  color: whitesmoke;
  font-size: 0.8571428571rem;
  letter-spacing: 0.04em;
  font-size: 0.8rem;
  text-transform: uppercase;
  &.smaller {
    font-size: 0.7rem;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.gradient-1 {
  background: linear-gradient(to bottom, rgba(207, 193, 238, 0.708), transparent);
}

.gradient-02 {
  position: absolute;
  width: 100%;
  height: 30vh;
  left: 0;
  bottom: 0;
  background: $color3;
  filter: blur(300px);
  z-index: -1;
}

.svg-small {
  max-width: 40px;
}

.svg-medium {
  max-width: 60px;
}

.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}

.error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.pos-absolute {
  position: absolute;
}