
.main-layout {
    padding-inline: 2rem;
}


// GRIDS
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    column-gap: 25px;
    row-gap: 25px;

}

// Positioning
.flex {
    display: flex;
    &.column { flex-direction: column; }
    &.justify-center { justify-content: center; }
    &.align-center { align-items: center; }
    &.wrap { flex-wrap: wrap; }
    &.space-between { justify-content: space-between; }
    &.space-around { justify-content: space-around; }
    &.auto-center {
        justify-content: center;
        align-items: center;
    }
    > *.full-grow { flex: 1; }
}

.self-center { align-self: center; }

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.center-block {
    display: block;
    margin: 0 auto;
}

  .svg-small {
    max-width: 40px;
  }

  .svg-medium {
    max-width: 60px;
  }

  .gap-5 {
    gap: 5px;
  }
  .gap-10 {
    gap: 10px;
  }