.mini-codeblock {
    padding: 2rem;
    font-size: 1.8rem;
    outline: 2px solid rgba(128, 128, 128, 0.63);
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  user-select: none;
    .title {
      text-transform: capitalize;
    }
    transition: all .2s ease;
    &:hover {
      transform: translateY(-5px);
      outline: 2px solid rgb(46, 3, 146);
    }
}