.mini-codeblock {
    padding: 2rem;
    font-size: 1.3rem;
    border-radius: 5px;
    background: $color2;
    color: whitesmoke;
    clip-path: polygon(10% 0, 90% 0, 90% 100%, 10% 100%);
    position: relative;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
    width: 100%;

    @media(max-width: 500px) {
      clip-path: polygon(5% 0, 95% 0, 95% 100%, 5% 100%);
      font-size: 1rem;
    }
    .title {
      text-transform: capitalize;
    }
    transition: all .2s ease;
    &:hover {
      outline: 2px solid $color2;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }
    .small-title {
      position: absolute;
      left: 22%;
      outline: 2px solid $color3;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;

      @media(max-width: 450px) {
        display: none;
      }
    }

}
