.codeblock-editor {
    padding-block-end: 10px;
  }
  
  .editor-wrapper {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .back-to-lobby {
    width: 45px;
    height: 45px;
    position: relative;
    background-color: $color1;
    border-radius: 3px;
    overflow: hidden;
    transition: all .3s ease;
    color: whitesmoke;

    img {
      filter: invert(100%) sepia(97%) saturate(2%) hue-rotate(34deg) brightness(109%) contrast(100%);
    }

    &:hover {
      width: 160px;

      span {
        transform: translate(45px);
      }
    }
    
    span {
      position: absolute;
      transition: transform .3s ease;
      transform: translate(180px);
    }

    @media(max-width: 700px) {
      display: none;
    }
  }
  
  .editor-header {
    padding-block: 1rem;
    @media(max-width: 400px) {
      flex-direction: column;
    }
  }
  
  .completed-codeblock {
    background-color: lightgreen;
    border-radius: 2px;
  }