.center-loader {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader {
  &::before {
    content: '';
    -webkit-animation: rotate 3s infinite;
    animation: rotate 3s infinite;
  }
}
